<%= render 'shared/menu' %>
<div class="container">
<table id="pattern-style-b" summary="Meeting Results">
  <thead>
    <tr>
      <th>Numero</th>
      
     
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @mesas.each do |mesa| %>
      <tr>
        <td><%= mesa.numero %></td>
        
        
        <td><%= link_to 'Editar', edit_mesa_path(mesa) %></td>
        <td><%= link_to 'Deletar', mesa, method: :delete, data: { confirm: 'Tem certeza que deseja excluir a mesa ?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nova Mesa', new_mesa_path, :style => "width:130px; margin-left:40px; padding-left:10px; padding-top:10px; height:20px; border:none; background:#01334e; color:white; float:left; text-decoration:none;" %>
</div>