<p id="notice"><%= notice %></p>

<p>
  <strong>Datcai:</strong>
  <%= @caixadium.datcai %>
</p>

<p>
  <strong>Dinheiro:</strong>
  <%= @caixadium.dinheiro %>
</p>

<p>
  <strong>Cheque:</strong>
  <%= @caixadium.cheque %>
</p>

<p>
  <strong>Cartao:</strong>
  <%= @caixadium.cartao %>
</p>

<p>
  <strong>Prazo:</strong>
  <%= @caixadium.prazo %>
</p>

<p>
  <strong>Pagtodiv:</strong>
  <%= @caixadium.pagtodiv %>
</p>

<p>
  <strong>Receb:</strong>
  <%= @caixadium.receb %>
</p>

<p>
  <strong>Salant:</strong>
  <%= @caixadium.salant %>
</p>

<p>
  <strong>Salprox:</strong>
  <%= @caixadium.salprox %>
</p>

<p>
  <strong>Salcaixa:</strong>
  <%= @caixadium.salcaixa %>
</p>

<p>
  <strong>Estabelecimento:</strong>
  <%= @caixadium.estabelecimento %>
</p>

<p>
  <strong>Obscai:</strong>
  <%= @caixadium.obscai %>
</p>

<p>
  <strong>Hormov:</strong>
  <%= @caixadium.hormov %>
</p>

<%= link_to 'Edit', edit_caixadium_path(@caixadium) %> |
<%= link_to 'Back', caixadia_path %>
