<p id="notice"><%= notice %></p>

<p>
  <strong>Datcai:</strong>
  <%= @caixaano.datcai %>
</p>

<p>
  <strong>Dinheiro:</strong>
  <%= @caixaano.dinheiro %>
</p>

<p>
  <strong>Cheque:</strong>
  <%= @caixaano.cheque %>
</p>

<p>
  <strong>Cartao:</strong>
  <%= @caixaano.cartao %>
</p>

<p>
  <strong>Prazo:</strong>
  <%= @caixaano.prazo %>
</p>

<p>
  <strong>Pagtodiv:</strong>
  <%= @caixaano.pagtodiv %>
</p>

<p>
  <strong>Receb:</strong>
  <%= @caixaano.receb %>
</p>

<p>
  <strong>Salant:</strong>
  <%= @caixaano.salant %>
</p>

<p>
  <strong>Salprox:</strong>
  <%= @caixaano.salprox %>
</p>

<p>
  <strong>Salcaixa:</strong>
  <%= @caixaano.salcaixa %>
</p>

<p>
  <strong>Estabelecimento:</strong>
  <%= @caixaano.estabelecimento %>
</p>

<p>
  <strong>Obscai:</strong>
  <%= @caixaano.obscai %>
</p>

<p>
  <strong>Hormov:</strong>
  <%= @caixaano.hormov %>
</p>

<%= link_to 'Edit', edit_caixaano_path(@caixaano) %> |
<%= link_to 'Back', caixaanos_path %>
