<div class="container">
<%= form_for(@pedido) do |f| %>
  <% if @pedido.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pedido.errors.count, "error") %> prohibited this pedido from being saved:</h2>

      <ul>
      <% @pedido.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <label>Produto</label><br>
    <% @query_produto = Produto.where("estabelecimento_id = ?", session[:id_estabelecimento]) %>
    <%= collection_select(:pedido, :produto_id, @query_produto, :id, :nome, prompt: 'selecione o Produto') %>
  </div>
  <div class="field">
    <label>Quantidade</label><br>
    
    <%= f.text_field :quantidade %>
  </div>
  <div class="field">
    <label>Mesa:</label><br>
    <% @query_mesa = Mesa.where("estabelecimento_id = ?", session[:id_estabelecimento]) %>
    <%= collection_select(:pedido, :mesa_id, @query_mesa, :id, :numero, prompt: 'selecione a Mesa') %>
  </div>
   <div class="field">
    <label>Funcionário</label><br>
    <% @query_funcionario = Funcionario.where("estabelecimento_id = ?", session[:id_estabelecimento]) %>
    <%= collection_select(:pedido, :funcionario_id, @query_funcionario, :id, :nome, prompt: 'selecione o Funcionario') %>
  </div>
  <div class="field">
   <label>Observação:</label><br>
    <%= f.text_area :observacao %>
    <%= f.hidden_field :estabelecimento_id , value: session[:id_estabelecimento] %>
  </div>
  <div class="actions">
    <%= f.submit "Cadastrar Pedido" %>
  </div>
<% end %>
</div>