<p id="notice"><%= notice %></p>

<p>
  <strong>Produto:</strong>
  <%= @pedido.produto %>
</p>

<p>
  <strong>Mesa:</strong>
  <%= @pedido.mesa %>
</p>

<p>
  <strong>Observacao:</strong>
  <%= @pedido.observacao %>
</p>

<%= link_to 'Edit', edit_pedido_path(@pedido) %> |
<%= link_to 'Back', pedidos_path %>
