<%= form_for(@produto) do |f| %>
  <% if @produto.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@produto.errors.count, "error") %> prohibited this produto from being saved:</h2>

      <ul>
      <% @produto.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nome %><br>
    <%= f.text_field :nome %>
  </div>
  <div class="field">
    <%= f.label :preco %><br>
    <%= f.text_field :preco %>
  </div>
  <div class="field">
    <%= f.label :cardapio_id %><br>
    <%= f.text_field :cardapio_id %>
  </div>
  <div class="field">
    <%= f.label :estabelecimento_id %><br>
    <%= f.text_field :estabelecimento_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
