<%= render 'shared/menu' %>
<div class="container">

<table id="pattern-style-b" summary="Meeting Results">

  <thead>
    <tr>
     
      <th>Nome</th>
      <th>Endereço</th>
      <th>Cidade</th>
      <th>Telefone</th>
      <th>Celular</th>
      <th>Cpf</th>
      <th>Rg</th>
      <th>Salario</th>
      <th>Comissão</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @funcionarios.each do |funcionario| %>
      <tr>
        
        <td><%= funcionario.nome %></td>
        <td><%= funcionario.endereco %></td>
        <td><%= funcionario.cidade %></td>
        <td><%= funcionario.telefone %></td>
        <td><%= funcionario.celular %></td>
        <td><%= funcionario.cpf %></td>
        <td><%= funcionario.rg %></td>
        <td><%= number_to_currency_br(funcionario.salario) %></td>
        <td><%= funcionario.percentual.to_s + "%" %></td>
        <td><%= link_to 'Mostrar', funcionario %></td>
        <td><%= link_to 'Editar', edit_funcionario_path(funcionario) %></td>
        <td><%= link_to 'Deletar', funcionario, method: :delete, data: { confirm: 'Tem certeza?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Novo Funcionario', new_funcionario_path, :style => "width:130px; margin-left:40px; padding-left:10px; padding-top:10px; height:20px; border:none; background:#01334e; color:white; float:left; text-decoration:none;" %>

</div>
