<%= render 'shared/menu' %>
<div class="container">

<table id="pattern-style-b" summary="Meeting Results">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Descricao</th>
      <th>Status</th>
      <th>Qtd Produtos</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @cardapios.each do |cardapio| %>
      <tr>
        <td><%= cardapio.name %></td>
        <td><%= cardapio.descricao %></td>
        <% if cardapio.status == true %>
        <td><%= "Ativo" %></td>
        <% else %>
        <td><%= "Inativo" %></td>
        <% end %>
        <% @quantidade = Produto.where("cardapio_id =? ", cardapio.id).count %>
        <td> <%= @quantidade %> </td>
        <td><%= link_to 'Mostrar', cardapio %></td>
        <td><%= link_to 'Editar', edit_cardapio_path(cardapio) %></td>
        <td><%= link_to 'Deletar', cardapio, method: :delete, data: { confirm: 'Tem certeza?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Novo cardápio', new_cardapio_path, :style => "width:130px; margin-left:40px; padding-left:10px; padding-top:10px; height:20px; border:none; background:#01334e; color:white; float:left; text-decoration:none;" %>
</div>